<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900&display=swap"
        rel="stylesheet"
        type="text/css"
    />
</noscript>